# ~/.gitconfig

[includeIf "gitdir:C:/Users/jlobel/_dev/github/"]
    path = C:/Users/jlobel/.gitconfig-github

[includeIf "gitdir:C:/Users/jlobel/_dev/cyberlab/"]
    path = C:/Users/jlobel/.gitconfig-cyberlab
